<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 http://www.springframework.org/schema/security
	 http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<b:bean id="appUserDetailsService" class="security.AppUserDetailService"/>

	<!-- http://static.springsource.org/spring-security/site/docs/3.1.x/reference/core-web-filters.html -->
	<b:bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<b:property name="accessDeniedHandler" ref="jsfAccessDeniedHandler" />
		<b:property name="authenticationEntryPoint" ref="authenticationEntryPoint" />
	</b:bean>

	<b:bean id="jsfAccessDeniedHandler" class="security.JsfAccessDeniedHandler">
		<b:property name="loginPath" value="/acessoNegado.xhtml" />
		<b:property name="contextRelative" value="true" />
	</b:bean>

	<b:bean id="authenticationEntryPoint" class="security.JsfLoginUrlAuthenticationEntryPoint">
		<b:property name="loginFormUrl" value="/login.xhtml" />
		<b:property name="redirectStrategy" ref="jsfRedirectStrategy" />
	</b:bean>

	<b:bean id="jsfRedirectStrategy" class="security.JsfRedirectStrategy" />
	<b:bean id="httpSessionSecurityContextRepository" class="org.springframework.security.web.context.HttpSessionSecurityContextRepository"/>
	 

	<http pattern="/javax.faces.resource/**" security="none" />
	<http pattern="/login.xhtml" security="none" />
	<http pattern="/acessoNegado.xhtml" security="none" />

	<http auto-config="false" use-expressions="true">
		
		<custom-filter ref="exceptionTranslationFilter" before="FILTER_SECURITY_INTERCEPTOR" />		
		
		<intercept-url pattern="/home.xhtml"  access="isAuthenticated()" />
		<intercept-url pattern="/acessoNegado.xhtml"  access="isAuthenticated()" />
		<intercept-url pattern="/acessoNegado.xhtml"   access="isAuthenticated()" />
		<intercept-url pattern="/veiculo/**" access="hasAnyRole('MECANICOS', 'GERENTES', 'ATENDENTES', 'ADMINISTRADORES')"/>
		<intercept-url pattern="/montadora/**" access="hasAnyRole('MECANICOS', 'GERENTES', 'ATENDENTES', 'ADMINISTRADORES')"/>
		<intercept-url pattern="/atendente/**" access="hasAnyRole('GERENTES', 'ADMINISTRADORES')"/>
		<intercept-url pattern="/atendente/listarAtendentes.xhtml" access="hasAnyRole('ATENDENTES', 'ADMINISTRADORES')"/>
		<intercept-url pattern="/cliente/**" access="hasAnyRole('GERENTES', 'ATENDENTES', 'ADMINISTRADORES')"/>
		<intercept-url pattern="/cliente/listarClientes.xhtml" access="hasAnyRole('MECANICOS')"/>
		<intercept-url pattern="/fornecedor/**" access="hasAnyRole('GERENTES', 'ADMINISTRADORES')"/>
		<intercept-url pattern="/fornecedor/listarFornecedores.xhtml" access="hasAnyRole('MECANICOS', 'ATENDENTES', 'ADMINISTRADORES')"/>
		<intercept-url pattern="/mecanico/**" access="hasAnyRole('GERENTES', 'ADMINISTRADORES')"/>
		<intercept-url pattern="/mecanico/listarMecanicos.xhtml" access="hasAnyRole('MECANICOS', 'ATENDENTES', 'ADMINISTRADORES')"/>
		<intercept-url pattern="/modeloVeiculos/**" access="hasAnyRole('MECANICOS', 'GERENTES', 'ATENDENTES', 'ADMINISTRADORES')"/>
		<intercept-url pattern="/orcamento/cadastrarOrcamentos.xhtml" access="hasAnyRole('MECANICOS', 'GERENTES', 'ADMINISTRADORES')"/>
		<intercept-url pattern="/pagamento/**" access="hasAnyRole('GERENTES', 'ATENDENTES', 'ADMINISTRADORES')"/>
		<intercept-url pattern="/peca/**" access="hasAnyRole('MECANICOS', 'GERENTES', 'ATENDENTES', 'ADMINISTRADORES')"/>
		<intercept-url pattern="/servico/listarServicos.xhtml" access="hasRole('MECANICOS')"/>
		<intercept-url pattern="/servico/**" access="hasAnyRole('GERENTES', 'ATENDENTES', 'ADMINISTRADORES')"/>
	
		<!-- TRATAR PERMISÃO DAS TELAS DE ORDEM DE SERVIÇO. -->
		<intercept-url pattern="/ordemDeServico/**" access="isAuthenticated()"/> 
		
		<form-login login-page="/login.xhtml" default-target-url="/" authentication-failure-url="/login.xhtml?invalid=true" always-use-default-target="true"/>
		<logout logout-url="/j_spring_security_logout" invalidate-session="true"  />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="appUserDetailsService">
		</authentication-provider>
	</authentication-manager>

</b:beans>	